@namespace BlazorUI.Components.Switch
@using BlazorUI.Primitives.Switch

<BlazorUI.Primitives.Switch.Switch Checked="@Checked"
                 CheckedChanged="@HandleCheckedChanged"
                 Disabled="@Disabled"
                 Id="@Id"
                 aria-label="@AriaLabel"
                 aria-required="@(CheckedExpression != null ? "true" : null)"
                 aria-invalid="@(IsInvalid ? "true" : null)"
                 class="@CssClass">
    <span data-state="@(Checked ? "checked" : "unchecked")" class="@ThumbCssClass">
    </span>
</BlazorUI.Primitives.Switch.Switch>
