@typeparam TValue
@namespace BlazorUI.Components.RadioGroup
@using BlazorUI.Primitives.RadioGroup

<BlazorUI.Primitives.RadioGroup.RadioGroupItem TValue="TValue"
    @ref="primitiveRef"
    Value="@Value"
    Disabled="@Disabled"
    Id="@Id"
    AriaLabel="@AriaLabel"
    class="@CssClass">
    <span class="@CircleIndicatorClass"></span>
</BlazorUI.Primitives.RadioGroup.RadioGroupItem>
